.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  left: -6rem;
}

.avatar {
  border-radius: 50%;
}

.text-sm {
  font-size: 0.8rem;
}

.related-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
  margin: 0;
}

.related-post {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.related-link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}
.related-auther {
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}
